.carrousel__title{
  color: white;
  font-size: 22px;
  font-family: Muli;
  font-weight: 900;
  /* position: absolute; */
  /* padding-left: 80px; */
  width: 100%;
  max-width: 1240px;
  /* border: 1px red solid; */
  text-align: left;
  margin: auto;
  margin-bottom: -40px;
}